footer {
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: $footer-height--mobile;

    padding: $global-padding;
    background-color: $dark-gray;
    color: $white;

    @include breakpoint(medium) {
        height: $footer-height;
    }

    & > div.neos-contentcollection {
        height: 100%;
        width: 100%;
        max-width: $global-width;
    }

    @include breakpoint(medium) {
        .column:last-of-type {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    ::selection {
        background-color: $primary-color;
    }

}
