.title-bar {
    position: relative;
    z-index: 1;
    min-height: 100px;

    .menu-icon {
        @include vertical-center;
    }
}

.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}
