nav.page-navigation {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(40, 43, 40, 0.25);
    border-radius: 1px;
    background-color: #fefefe;
    color: #282b28;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            padding: 12px
        }
    }
}
