$footer-height: 13rem;
$footer-height--mobile: 26rem;

html {
    height: 100%;
    background-color: $primary-color;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: $footer-height--mobile;

    hyphens: auto;
    -webkit-hyphens: auto;

    @include breakpoint(medium) {
        padding-bottom: $footer-height;
    }
}

main {
    width: $global-width;
    max-width: 100%;
    position: relative !important;
    @include horizontal-center;
}

main > .neos-contentcollection {
    margin: $global-margin;

    & > .neos-nodetypes-text,
    & > .neos-nodetypes-twocolumn > .column > .neos-nodetypes-text,
    & > .neos-nodetypes-threecolumn > .column > .neos-nodetypes-text,
    & > .neos-nodetypes-fourcolumn > .column > .neos-nodetypes-text,
    & > .neos-nodetypes-textwithimage
    {
        @include callout;
    }
}

::selection {
    background-color: $medium-gray;
}
