$footer-height: 13rem;

html {
    height: 100%;
    background-color: $primary-color;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: $footer-height;
}

main {
    width: $global-width;
    max-width: 100%;
    position: relative !important;
    @include horizontal-center;
}

main > .neos-contentcollection {
    margin: $global-margin;

    & > .neos-nodetypes-text {
        @include callout;
    }
}

::selection {
    background-color: $medium-gray;
}
