.orbit {
    margin-bottom: $global-margin;
}

.orbit-container--in-backend {
    list-style: none;
}

.orbit-slide.callout {
    height: 100%;

    .neos-contentcollection {
        @include vertical-center();
    }
}
