.neos-nodetypes-textwithimage {
    @include clearfix;

    figure {
        float: left;
        margin: $global-margin;

        &.neos-alignment-right {
            float: right;
        }
        &.neos-alignment-center {
            float: none;
            margin: auto;
        }

        @include breakpoint(medium) {
            width: 33.33%;
        }
    }
}
